[submodule "neocomplcache"]
	path = neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim-ref"]
	path = vim-ref
	url = https://github.com/thinca/vim-ref.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-symfony"]
	path = vim-symfony
	url = https://github.com/soh335/vim-symfony.git
[submodule "vimproc"]
	path = vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "vimshell"]
	path = vimshell
	url = https://github.com/Shougo/vimshell.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
